/.idea/
/venv/
/tacom/db.sqlite3
/tacom/tacom/.env
/tacom/media
*./__pycache__
/data_dumps/
/tacom/serving_static
/tacom/contest_data_migration
*/node_modules/

# docs/Antora stuff
# nested git repos required by Antora
docs_src/**/.git/
# build
docs_src/build
# libs
docs_src/node_modules
