{% load i18n %}


{% if memberships %}
<table class="table table-hover sortable" id="team-table">
    <thead>
    <tr>
    <th scope="col" data-sort-method="number">#</th>
    <th scope="col">{% translate "First name" %}</th>
    <th scope="col">{% translate "Last name" %}</th>
    <th scope="col">{% translate "Email" %}</th>
    {% for role in roles %}
        <th scope="col">{{ role.name }}</th>
    {% endfor %}
    </tr>
    </thead>
    <tbody id="team_list_tbody">
    {% for m in memberships %}
        {% include "contest/team_management/_team_item.html" with nr=forloop.counter %}
    {% endfor %}
    </tbody>
    <tbody id="add_user_tbody">{% include "contest/team_management/_team_form.html" %}</tbody>
</table>

<script>
    new Tablesort(document.getElementById('team-table'));
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>
{% else %}
<h4 class="m-4">{% translate 'No judges found' %}</h4>
{% endif %}
