<p>Cześć {{username}},</p>
<p>Ta wiadomość została wygenerowana automatycznie, prosimy nie odpowiadać na nią bezpośrednio.</p>

<p>Dziękujemy za zainteresowanie sędziowaniem w naszym konkursie - {{ contest.title }}.
Z przyjemnością informujemy, że podjęliśmy decyzję o zaproszeniu Cię.</p>

<p>Sędziowanie odbędzie się w dniach {{ contest.judging_date_from }} - {{ contest.judging_date_to }}.
    Więcej szczegółów prześlemy w późniejszym terminie.</p>

<p>Będziemy wdzięczni za poinformowanie nas z wyprzedzeniem w przypadku jakichkolwiek zmian z Twojej strony.</p>


<p>Pozdrawiamy, <br/>
Załoga {{ contest.title }}</p>
