{% load i18n %}
<p>Cześć {{username}},</p>

<p>Ta wiadomość została wygenerowana automatycznie, prosimy nie odpowiadać na nią bezpośrednio.</p>

<p>Dziękujemy za zainteresowanie naszym konkursem - {{ contest.title }}.
    Niestety w tym roku nie będziemy mogli zaproponować Ci miejsca przy stoliku sędziowskim.</p>

<p>Doceniamy zaangażowanie i mamy nadzieję, że będziemy mieli okazję spotkać się w przyszłości przy okazji kolejnych
    edycji konkursu.</p>

<p>Dziękujemy za zrozumienie, <br />
    Załoga {{ contest.title }}</p>
