{% extends 'contest/base.html' %}
{% block content %}
{% load i18n %}
{% load bootstrap_icons %}

{%  include 'contest/entries.html' %}
<br />
<a class="btn btn-outline-primary">
    {% bs_icon 'cash-coin' size='1.5em' %}
    Pay for entries
</a>

<a class="btn btn-outline-primary">
    {% bs_icon 'file-richtext' size='1.5em' %}
    Print bottle labels
</a>

<a
    class="btn btn-outline-primary"
    href="{% url 'contest:contest_address' contest.slug %}"
    target="_blank"
>
    {% bs_icon 'truck' size='1.5em' %}
    Print delivery address
</a>

<br /><br />
<h3 class="h3">{% translate "Select style in which you would like to register an entry" %}</h3>

<table class="table">
    {% for category in categories %}
        {% if forloop.counter == 1 %}

        <tr>
            <th>Style</th>
            <th>Maximum entries per brewer</th>
            <th>Style description</th>
        </tr>
        {% endif %}
        <tr><td>

            <a class="btn btn-outline-primary" href = "{% url 'contest:add_entry_category' category.id %}">
                {{ category.style.name }}
            </a>
        </td><td>
            {{ category.entries_limit }}
        </td><td>
            <a href = "{% url 'contest:style_detail' category.style.slug %}">
                {%  translate "style details" %}
            </a>
        </td></tr>


    {% empty %}
        {% translate "You cannot add entries for this contest" %}

    {% endfor %}
</table>

{% endblock content %}