{% extends 'contest/base.html' %}
{% block content %}
{% load i18n %}


<h1>{{ contest.title }}</h1>
{%  include 'contest/entries.html' %}

<h2>{{ style.name }}</h2>
<h3>{% translate "Provide entry details:" %}</h3>
<form method="post" action="">
  {% csrf_token %}
    <table>
        {{form.as_table}}
    </table>

    {%  if error %}
        <a href="{% url 'contest:add_entry_contest' contest.slug %}" class="btn btn-outline-secondary">
            {% translate "Go back" %}
        </a>
    {%  endif %}
  <button type="submit" class="btn btn-primary">
      {% translate "Save" %}
  </button>
  <a class="btn btn-secondary" href="
        {% if form.return_url %}
            {{ form.return_url }}
        {% else %}
{#            {{ request.META.HTTP_REFERER }}#}
            javascript:window.history.back()
        {% endif %}">
      {% translate "Cancel" %}
  </a>
</form>

{% endblock content %}