{% extends 'contest/base.html' %}
{% block content %}
{% load i18n %}
{% load bootstrap_icons %}

{%  include 'contest/entries.html' %}
<br />
<a class="btn btn-outline-primary" href="{% url 'contest:payment_start' contest.slug %}">
    {% bs_icon 'cash-coin' size='1.5em' %}
    Pay for entries
</a>

<a class="btn btn-outline-primary">
    {% bs_icon 'file-richtext' size='1.5em' %}
    Print bottle labels
</a>

<a
    class="btn btn-outline-primary"
    href="{% url 'contest:contest_address' contest.slug %}"
    target="_blank"
>
    {% bs_icon 'truck' size='1.5em' %}
    Print delivery address
</a>

<br /><br />
{% if can_add %}
    <h3 class="h3">{% translate "Select style in which you would like to register an entry" %}</h3>
{#    Display info about remaining global limit #}
    {% if contest_limit_left %}
        <h4 class="h4">
            {% translate "Number of slots left in the contest" %}: {{ contest_limit_left }}
            <span
                data-toggle="tooltip"
                title="{%  translate "You will be able to register and pay for your entries as long as there is at least one slot left." %}"
            >
                {% bs_icon 'info-circle-fill' size='0.8em'%}
            </span>
        </h4>
    {% endif %}
{#    Display info about remaining participant limit #}
    {% if user_limit_left %}
        <h4 class="h4">
            {% translate "Number of slots left towards participant limit" %}: {{ user_limit_left }}
            <span
                data-toggle="tooltip"
                title="{{ contest.entry_user_limit }} {% translate "is the maximum number of entries per participant in this competition" %}"
            >
                {% bs_icon 'info-circle-fill' size='0.8em'%}
            </span>
        </h4>
        <br/><br/>
    {% endif %}
        <table class="table">
            {% for category in categories %}
                {% if forloop.counter == 1 %}

                <tr>
                    <th>{% translate 'Style' %}</th>
                    <th>{% translate 'Maximum entries per brewer' %}</th>
                    <th>{% translate 'Style description' %}</th>
                </tr>
                {% endif %}
                <tr><td>

                    <a class="btn btn-outline-primary" href = "{% url 'contest:add_entry_category' category.id %}">
                        {{ category.style.name }}
                    </a>
                </td><td>
                    {{ category.entries_limit }}
                </td><td>
                    <a href = "{% url 'contest:style_detail' category.style.slug %}">
                        {%  translate "style details" %}
                    </a>
                </td></tr>


            {% empty %}
                {% translate "You cannot add entries for this contest" %}

            {% endfor %}
        </table>
{% else %}
    <h3 class="h3">{% translate "You cannot register entries anymore."%} </h3>
    <h4 class="h4">{{ limit_exhausted_info }}</h4>

{% endif %}


{% endblock content %}