{% extends 'contest/base.html' %}
{%  load i18n %}
{% block content %}

    <h1> {{ contest.title }}</h1>
    <a class="btn btn-primary
        {% if not contest.is_registrable %}
        disabled
        {% endif %}
        "
       href="{% url 'contest:add_entry_contest' contest.slug %}">
        {% translate "Register your entry" %}
    </a>
    <a class="btn btn-primary disabled">
        {% translate "Check results" %}
    </a>

    <h2>{% translate "Timeline" %}</h2>
        <b>{% translate "Registration" %}</b>:
            {{ contest.registration_date_from|default_if_none:"???" }} -
            {{ contest.registration_date_to|default_if_none:"???" }}
            <br/>

        <b>{% translate "Samples delivery" %}</b>:
            {{ contest.delivery_date_from|default_if_none:"???" }} -
            {{ contest.delivery_date_to|default_if_none:"???" }}
            <br/>

        <b>{% translate "Judging sessions" %}</b>:
            {{ contest.judging_date_from|default_if_none:"???" }} -
            {{ contest.judging_date_to|default_if_none:"???" }}
            <br/>

    <h2>{% translate "Categories" %}</h2>
        <ul>
        {% for category in contest.categories.all %}
            <li>
                <a href="{% url 'contest:style_detail' category.style.slug %}">
                    {{ category.style }}
                </a>
            </li>
        {% endfor %}
        </ul>
    <h2>{% translate "Competition description" %}</h2>
    {{  contest.description | safe }}

<h1>Test kolorów z bootstrapa</h1>
<span class="badge rounded-pill bg-primary">Primary</span>
<span class="badge rounded-pill bg-secondary">Secondary</span>
<span class="badge rounded-pill bg-success">Success</span>
<span class="badge rounded-pill bg-danger">Danger</span>
<span class="badge rounded-pill bg-warning">Warning</span>
<span class="badge rounded-pill bg-info">Info</span>
<span class="badge rounded-pill bg-light">Light</span>
<span class="badge rounded-pill bg-dark">Dark</span>

{% endblock content %}