{% extends "contest/base.html" %}

{% block content %}
{%  load i18n %}
    {%  if form.head_info %}
        {{ form.head_info }}
    {% endif %}
<!--<form method="post" action="">-->
<!--  {% csrf_token %}-->
<!--    <table>-->
<!--        {{form.as_table}}-->
<!--    </table>-->
<div class="container">
<form method="post" action="">
    {% csrf_token %}
    <table>
    {% for field in form %}
        <tr><td class="pe-2">
            <label class="form-label">
                {{ field.label }}
            </label>
            </td><td>

                {{ field }}

                {% if field.help_text %}
                    <div class="form-text">{{ field.help_text }}</div>
                {% endif %}

                <div class="text-danger">
                    {{ field.errors }}
                </div>
            </td>

        </tr>
    {% endfor %}
    </table>
  <button type="submit" class="btn btn-primary">
      {% translate "Save" %}
  </button>
  <a class="btn btn-secondary" href="
        {% if form.return_url %}
            {{ form.return_url }}
        {% else %}
{#            {{ request.META.HTTP_REFERER }}#}
            javascript:window.history.back()
        {% endif %}">
      {% translate "Cancel" %}
  </a>
</form>
</div>
{% endblock %}