{% extends "contest/base.html" %}

{% block content %}
{% load i18n %}
{% load static %}
{% load bootstrap_icons %}
{% load user_flag %}
    {% regroup entries by category.style as entries_by_style %}
    {% for style in entries_by_style %}
        <p class="display-6">{{ style.grouper }}</p>
        <table class="table">
        <tr>
            <th class="col-1"></th>
            <th class="col-1">{% translate 'Code' %}</th>
            <th class="col-1">{% translate 'Language' %}</th>
            <th class="col-1"></th>
            <th>{% translate 'Actions' %}</th>
        </tr>
        {% for entry in style.list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>
                    {{ entry.code }}</td>
                <td>
                    <img src="{% static ""%}{% flag entry.brewer %}" alt="Judging language flag"/>
                </td>
                <td>
                    {{ entry.medal }}
                </td>
                <td>
                    <a
                        class="btn btn-outline-primary {% if not entry.scoresheet %}disabled{% endif %}"
                        {% if entry.scoresheet %}
                            href="{% url 'contest:scoresheet_view' entry.scoresheet.id %}"
                        {% endif %}
                    >
                        {% bs_icon 'eye' size='1.5em' %}
                    </a>
                    
                    {% if entry.scoresheet %}
                        <a class="btn btn-outline-primary"
                           href="{% url 'contest:scoresheet_edit' entry.scoresheet.id %}"
                       >
                    {% else %}
                        <a class="btn btn-primary"
                           href="{% url 'contest:scoresheet_create' entry.id %}"
                       >
                    {% endif %}                    
                        {% bs_icon 'pencil' size='1.5em' %}
                    </a>

                </td>
            </tr>
        {% endfor %}
        </table>
    {%  endfor %}

{% endblock %}