{% extends "contest/base.html" %}

{% block content %}
{% load i18n %}
{% load static %}
{% load bootstrap_icons %}
{% load user_flag %}
    {% regroup entries by category.style as entries_by_style %}
    {% for style in entries_by_style %}
        <p class="display-6">{{ style.grouper }}</p>
        <table class="table">
        <tr>
            <th class="col-1">{% translate 'Place' %}</th>
            <th class="col-2">{% translate 'Brewer' %}</th>
            <th class="col-2">{% translate 'Country' %}</th>
            <th>{% translate 'Mead name' %}</th>
        </tr>
        {% for entry in style.list|dictsort:"place" %}
            <tr>
                <td>{{ entry.place }}</td>
                <td>
                    {{ entry.brewer }}</td>
                <td>
                    {{ entry.brewer.country.name }} <img src="{{ entry.brewer.country.flag }}"/>
                </td>
                <td>
                    {{ entry.name }}
                </td>
            </tr>
        {% endfor %}
        </table>
    {%  endfor %}

{% endblock %}