{% load i18n %}
{% load static %}
<div>
    <h2>{% translate "Strategic Partner - Województwo Podlaskie" %}</h2>
    <div class="container" style="background-color: white; border-radius: 15px; padding: 20px;">
        <div style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center;">
                <div style="flex: 0 1 auto; margin: 10px; display: flex; justify-content: center; align-items: center;">
                    <img src="{% static 'contest/partners/1podlasie.jpg' %}" alt="Województwo Podlaskie"
                         style="max-height: 300px; max-width: 300px; object-fit: contain;">
                </div>
        </div>
    </div>
</div>