{% load i18n %}
<div>
    <h2>{% translate "Partners" %}</h2>
    <div class="container" style="background-color: white; border-radius: 15px; padding: 20px;">
        {% for image_url in image_urls %}
            {% if forloop.counter0|divisibleby:items_per_row  %}
            <div style="display: flex; flex-wrap: wrap; justify-content: space-around; align-items: center;">
            {% endif %}

            <div style="flex: 0 1 auto; margin: 10px; display: flex; justify-content: center; align-items: center;">
                <img src="{{ image_url }}" alt="Partner Image"
                     style="max-height: {{ max_height }}px; max-width: {{ max_width }}px; object-fit: contain;">
            </div>

            {% if forloop.counter|divisibleby:items_per_row or forloop.last %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>