{% extends 'contest/base.html' %}
{% block content %}
<p><strong>Information Clause Regarding Personal Data</strong></p>

<p>Your personal data is being collected because:</p>
<ul>
    <li>You are registering to participate in the Mead Contest – Bartnik.</li>
</ul>

<p>We assure you that your data is properly protected, and the scope of data we collect is minimal: name, surname, email address, and phone number.</p>

<p>We process personal data in accordance with Regulation (EU) 2016/679 of the European Parliament and of the Council of 27 April 2016 on the protection of natural persons with regard to the processing of personal data and on the free movement of such data, and repealing Directive 95/46/EC (commonly known as "GDPR").</p>

<p>The legal basis for processing your personal data is the legitimate interest of the data controller (Article 6(1)(f) GDPR), which involves the need to document and account for project and statutory activities, as well as to conduct the mead contest and to select and announce winners in each category.</p>

<p>Your personal data is collected by the Bractwo Bartne with its headquarters in the Giby Commune, 16-506, in the village of Frącki 8a, and is subsequently entered into a single database.</p>

<p><strong>Who will your data be shared with?</strong></p>

<p>Your personal data (name, surname) will be shared with the project's partners. In the scope of project oversight, the institution granting funding also has the right to review the data. Your personal data will not be shared with other recipients.</p>

<p>Your personal data will be stored for 5 years from the date of project completion.</p>

<p><strong>You have the right to:</strong></p>
<ul>
    <li>Request access to your personal data, correct it, delete it, or restrict its processing (in accordance with Articles 15, 16, 17, and 18 of GDPR).</li>
    <li>Lodge a complaint with the supervisory authority – the President of the Personal Data Protection Office.</li>
    <li>Object to the processing of your personal data (in accordance with Article 21 of GDPR).</li>
</ul>

<p><strong>Additional information:</strong></p>
<ul>
    <li>Your personal data is not subject to automated decision-making, including profiling.</li>
    <li>Your data will not be transferred outside the European Economic Area and will not be transferred to international organizations.</li>
</ul>    
{% endblock content %}