{% extends 'contest/base.html' %}
{% block content %}

<p><strong>Klauzula informacyjna dotycząca danych osobowych</strong></p>

<p>Pani/Pana dane osobowe są zbierane ponieważ:</p>
<ul>
    <li>Zgłasza się Pan/Pani do udziału w Konkursie Miodów Pitnych - Bartnik.</li>
</ul>

<p>Zapewniamy, że Pani/Pana dane są należycie chronione, a zakres danych, które zbieramy, jest minimalny – imię, nazwisko, adres e-mail, nr telefonu.</p>

<p>Przetwarzamy dane osobowe zgodnie z Rozporządzeniem Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (potocznie ten akt prawny jest nazywany „RODO”).</p>

<p>Podstawą przetwarzania przez nas danych osobowych jest prawnie uzasadniony interes administratora (art. 6 ust. 1 lit. f) RODO) – polegający na konieczności dokumentowania i rozliczania działań projektowych i statutowych, a także w celu przeprowadzenia konkursu miodów pitnych oraz wyłonienia i ogłoszenia zwycięzców w każdej z kategorii.</p>

<p>Dane osobowe są zbierane przez Bractwo Bartne z siedzibą w Gminie Giby, 16-506, we wsi Frącki 8a, a następnie są wprowadzane do jednej bazy.</p>

<p><strong>Komu Pani/Pana dane będą udostępnione?</strong></p>

<p>Pani/Pana dane osobowe (imię, nazwisko) udostępniane są partnerom projektu. W ramach kontroli realizacji projektu prawo do wglądu danych ma również instytucja przyznająca dofinansowanie. Pani/Pana dane nie są udostępniane innym odbiorcom.</p>

<p>Pani/Pana dane osobowe będą przechowywane w okresie 5 lat od dnia zakończenia projektu.</p>

<p><strong>Posiada Pani/Pan prawo do:</strong></p>
<ul>
    <li>Żądania od Administratora dostępu do swoich danych osobowych, ich sprostowania, usunięcia lub ograniczenia przetwarzania danych osobowych (zgodnie z art. 15, 16, 17, 18 RODO).</li>
    <li>Wniesienia skargi do organu nadzorczego – Prezesa Urzędu Ochrony Danych Osobowych.</li>
    <li>Wniesienia sprzeciwu wobec przetwarzania (zgodnie z art. 21 RODO).</li>
</ul>

<p><strong>Pozostałe informacje:</strong></p>
<ul>
    <li>Pani/Pana dane osobowe nie podlegają zautomatyzowanemu podejmowaniu decyzji, w tym profilowaniu.</li>
    <li>Pani/Pana dane nie będą przekazywane poza Europejski Obszar Gospodarczy. Dane nie będą również przekazywane organizacjom międzynarodowym.</li>
</ul>


{% endblock content %}