{% extends 'contest/base.html' %}
{% block content %}

    <h2>Profile</h2>
    <table>
        <tr>
            <td>Username:</td>
            <td> {{  user.username }}</td>
        </tr>
        <tr>
            <td>First name:</td>
            <td> {{ user.first_name }}</td>
        </tr>
        <tr>
            <td>Last name:</td>
            <td> {{ user.last_name }}</td>
        </tr>
        <tr>
            <td>primary email:</td>
            <td> {{ user.email }}</td>
        </tr>
    </table>
    <br />
    <a href="{% url 'account_change_password' %}">change password</a> <br />
    <a href="{% url 'account_email' %}">edit email</a> <br />
    <a href="{% url 'contest:profile-edit' %}">edit profile data</a> <br />

{% endblock content %}