{% extends 'contest/base.html' %}
{% block content %}
{% load bootstrap_icons %}
{% load i18n %}
<div class="container border rounded-3 p-3">
    <h2>{% translate 'My User Profile' %}</h2>
    <table>
        <tr>
            <td>{% translate "Username" %}:</td>
            <td> {{  user.username }}
                {% if user.country %}
                    <img src="{{ user.country.flag }}" alt="User country flag"/>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>{% translate "First name" %}:</td>
            <td> {{ user.first_name }}</td>
        </tr>
        <tr>
            <td>{% translate "Last name" %}:</td>
            <td> {{ user.last_name }}</td>
        </tr>
        <tr>
            <td>{% translate "Primary email" %}:</td>
            <td> {{ user.email }}</td>
        </tr>
        <tr>
            <td>{% translate "Phone number" %}:</td>
            <td> {{ user.phone }}</td>
        </tr>
        <tr>
            <td>{% translate "Address" %}:</td>
            <td> {{ user.address | linebreaks }}</td>
        </tr>
        <tr>
            <td>{% translate "Preferred judging language" %}:</td>
            <td> {{ user.get_language_display }}</td>
        </tr>
        <tr>
            <td>{% translate "Rebate code" %}:</td>
            <td>
                {% if user.rebate_code_text %}
                {% bs_icon 'check' size='1.5em' %}
                {% else %}
                {% bs_icon 'x' size='1.5em' %}
                {% endif %}
            </td>
        </tr>
    </table>
    <br />
    <div>
    <a class="btn btn-primary" href="{% url 'account_change_password' %}">{% translate "change password" %}</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}">{% translate "edit email" %}</a>
    <a class="btn btn-primary" href="{% url 'contest:profile_edit' %}">{% translate "edit profile data" %}</a>
{#    {% include 'contest/entries.html' %}#}
    <a class="btn btn-primary"
       href="{% url 'contest:add_entry' %}">
        {% translate "entries" %}
    </a></div>
</div>
<br/>
<div class="container border rounded-3 p-3">
    <h2 class="m-2">{% translate 'Your judge certification information' %}: </h2>
    {% include 'contest/judges/judge_certification.html' %}
    </div>

{% endblock content %}