{% extends 'contest/base.html' %}
{% load i18n %}
{% block content %}
{% include 'contest/scoresheet_navbar.html' %}
<hr/>
<div class="container">

{% include 'contest/scoresheet_entry.html' %}
<dl class="row">
    <dt class="col-sm-1">{% translate 'Medal' %}:</dt>
    <dd class="col-sm-11">
        {% if scoresheet.has_medal %}
            {% translate 'Yes' %}
        {% else %}
            {% translate 'No' %}
        {% endif %}
    </dd>

    <dt class="col-sm-1">{% translate 'Description' %}:</dt>
    <dd class="col-sm-11">
        {{ scoresheet.description|safe }}
    </dd>
</dl>
</div>
<hr/>
{% include 'contest/scoresheet_navbar.html' %}
{% endblock content %}