{% extends 'contest/base.html' %}
{% load i18n %}
{% block content %}
{% include 'contest/scoresheet_navbar.html' %}
<hr/>
<div class="container">

{% include 'contest/scoresheet_entry.html' %}
<dl class="row">
    <dt class="col-sm-2">{% translate 'Final round' %}:</dt>
    <dd class="col-sm-10">
        {% if scoresheet.final_round %}
            {% translate 'Yes' %}
        {% else %}
            {% translate 'No' %}
        {% endif %}
    </dd>
</dl>
{% include 'contest/scoresheet_feedback.html' %}
</div>
<hr/>
{% include 'contest/scoresheet_navbar.html' %}
{% endblock content %}