{% load i18n %}
{% load permissions_tags %}

<div class="container">
    <a class="btn btn-primary float-start"
       href="{% url 'contest:judging_list' scoresheet.entry.category.contest.slug %}">
        <i class="bi bi-card-list"></i> {% translate 'Back to list' %}
    </a>
    {% can "EDIT_SCORESHEET" as can_edit %}
    {% if can_edit %}
    <a class="btn btn-primary float-end"
       href="{% url 'contest:scoresheet_edit' contest.slug scoresheet.id %}">
        <i class="bi bi-pencil"></i> {% translate 'Edit' %}
    </a>
    {% endif %}
    
    <br/><br/>
</div>
