{% extends 'contest/base.html' %}
{% load i18n %}
{% load user_flag %}
{% load static %}
{% block content %}

<div class="container">
    <dl class="row">
        <dt class="col-sm-1">{% translate 'Entry' %}:</dt>
        <dd class="col-sm-11">{{ scoresheet.entry.code }}</dd>
        <dt class="col-sm-1">{% translate 'Language' %}:</dt>
        <dd class="col-sm-11">
            {{ scoresheet.entry.brewer.get_language_display }}
        <img src="{% static ""%}{% flag scoresheet.entry.brewer %}" alt="Judging language flag"/>
    </dd>
    </dl>
    <form method="post" action="">
      {% csrf_token %}
        <table>
            {{form.as_p}}
        </table>
      <button type="submit" class="btn btn-primary">
          {% translate "Save" %}
      </button>
      <a class="btn btn-secondary"
         href="#"
         onclick="history.go(-1); return false;"
      >
          {% translate "Cancel" %}
      </a>
    </form>
</div>

{% endblock content %}

{% block extrahead %}
    <script src="{% static 'tinymce/tinymce.min.js' %}"></script>
    {{ form.media }}
    <script>
        tinymce.init({
            plugins: "textcolor"
        });
    </script>
{% endblock %}