{% extends 'contest/base.html' %}
{% load i18n %}
{% load user_flag %}
{% load static %}
{% block content %}

<div class="container">
    {% include 'contest/scoresheet_entry.html' %}
    <hr/>
    <form method="post" action="">
      {% csrf_token %}
        <table>
            {{form.as_p}}
        </table>
      <button type="submit" class="btn btn-primary">
          {% translate "Save" %}
      </button>
      <a class="btn btn-secondary"
         href="#"
         onclick="history.go(-1); return false;"
      >
          {% translate "Cancel" %}
      </a>
    </form>
</div>

{% endblock content %}

{% block extrahead %}
    <script src="{% static 'tinymce/tinymce.min.js' %}"></script>
    {{ form.media }}
    <script>
        tinymce.init({
            plugins: "textcolor"
        });
    </script>
{% endblock %}