{% load i18n %}
<div id="certification">
     <div class="m-2"><a class="btn btn-secondary" hx-get="{% url 'contest:judge_certification_edit' %}" hx-target="#certification"
            hx-swap="outerHTML"><i class="bi bi-pencil-square"></i>
    </a></div>
    <div class="m-2">
        <ul>
            {% if object.is_mjp %}
            <li>Mead Judging Programme, {% translate 'level' %} {{ object.mjp_level }} <i class="bi bi-check2"></i></li>
            {% endif %}
            {% if object.is_mead_bjcp %}
            <li>BJCP Mead  <i class="bi bi-check2"></i></li>
            {% endif %}
            {% if object.is_other %}
            <li>{% translate 'Other' %}: {{ object.other_description }}</li>
            {% endif %}
            <li>{% translate 'T-shirt size' %}: {{ object.tshirt_size }}</li>
        </ul>
    </div>
<!--    <pre>-->
<!--    BJCP: {{ object.is_mead_bjcp }}-->
<!--    MJP: {{ object.is_mjp }}, {{ object.mjp_level }}-->
<!--    Other: {{ object.is_other }}, {{ object.other_description }}-->
<!--</pre>-->

</div>
