<script src="https://unpkg.com/tablesort@5.3.0/dist/tablesort.min.js"></script>
<script src="https://unpkg.com/tablesort@5.3.0/dist/sorts/tablesort.number.min.js"></script>
<style>
.sortable th[scope="col"] {
    cursor: pointer;
    user-select: none;
}

.sortable th[scope="col"]::after {
    content: " ⇅";
    font-size: 0.8em;
    opacity: 0.4;
}

.sortable th[scope="col"][aria-sort="ascending"]::after {
    content: " ▲";
    opacity: 1;
}

.sortable th[scope="col"][aria-sort="descending"]::after {
    content: " ▼";
    opacity: 1;
}
</style>